/* line 1, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: black;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/lawlz/rails_projects/depot/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 2, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
#main {
  *margin-left: 17em;
  padding: 0em;
  background: white;
}

/* line 8, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-wrapper {
  *margin: 20px auto;
  position: relative;
  *border: 10px solid #fff;
  *-webkit-border-radius: 5px;
  *-moz-border-radius: 5px;
  *border-radius: 5px;
  *-webkit-box-shadow: 0 0 2px #999;
  *-moz-box-shadow: 0 0 2px #999;
  *box-shadow: 0 0 2px #999;
  width: 960px;
}

/* line 22, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66;
}

/* line 32, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-wrapper .photo-credits a {
  color: #fff;
}

/** Carousel **/
/* line 38, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 960px;
  height: 400px;
}

/* line 45, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel ul {
  width: 450em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 53, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel li {
  float: left;
}

/** Carousel Controls **/
/* line 60, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 200px;
  width: 30px;
  height: 30px;
  text-align: center;
  *background: #4E443C;
  *color: #fff;
  text-decoration: none;
  *text-shadow: 0 0 1px #000;
  font: 27px/30px Arial, sans-serif;
  *-webkit-border-radius: 30px;
  *-moz-border-radius: 30px;
  *border-radius: 30px;
  *-webkit-box-shadow: 0 0 2px #999;
  *-moz-box-shadow: 0 0 2px #999;
  *box-shadow: 0 0 2px #999;
}

/* line 79, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-prev {
  left: -50px;
}

/* line 83, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-next {
  right: -50px;
}

/* line 88, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}

/* line 94, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  *opacity: .5;
  cursor: default;
}
/* line 97, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-prev.inactive .a:hover,
.jcarousel-control-next.inactive .a:hover {
  color: red;
}
/* line 98, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-prev.inactive a,
.jcarousel-control-next.inactive a {
  color: #000;
}
/* line 100, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-prev.inactive a:visited,
.jcarousel-control-next.inactive a:visited {
  color: #666;
}
/* line 103, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-control-prev.inactive a:hover,
.jcarousel-control-next.inactive a:hover {
  color: red;
  background-color: #000;
}

/* line 110, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
a {
  color: red;
}
/* line 112, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
a:visited {
  color: red;
}
/* line 115, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
a:hover {
  color: red;
  background-color: #000;
}

/** Carousel Pagination **/
/* line 123, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-pagination {
  position: absolute;
  bottom: 0;
  left: 15px;
}

/* line 129, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  min-width: 14px;
  background: #fff;
  color: #4E443C;
  border-radius: 14px;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: .75;
}

/* line 148, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

/* line 155, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
a {
  color: #0388A6;
}

/* line 159, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
pre {
  border: 1px solid #000;
  overflow-x: auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

/* line 167, /home/lawlz/rails_projects/depot/app/assets/stylesheets/home.css.scss */
.wrapper1 {
  max-width: 900px;
  *padding: 0 20px 40px 20px;
  margin: auto;
}
/* line 2, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products table {
  border-collapse: collapse;
}
/* line 6, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 11, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products .list_image {
  width: 60px;
  height: 70px;
}
/* line 16, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products .list_description {
  width: 60%;
}
/* line 19, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products .list_description dl {
  margin: 0;
}
/* line 23, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}
/* line 29, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products .list_description dd {
  margin: 0;
}
/* line 34, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 40, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products .list_line_even {
  background: #e0f8f8;
}
/* line 44, /home/lawlz/rails_projects/depot/app/assets/stylesheets/products.css.scss */
.products .list_line_odd {
  background: #f8b0f8;
}
/* line 6, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store {
  /* An entry in the store catalog */
}
/* line 7, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  color: red;
  border-bottom: 3px dotted red;
}
/* line 17, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted grey;
  min-height: 200px;
}
/* line 23, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry img {
  width: 250px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}
/* line 30, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry h3 {
  font-size: 120%;
  font-family: 'Oswald', sans-serif;
  margin-left: 260px;
  margin-top: 0;
  margin-bottom: 2px;
  color: red;
}
/* line 39, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry h4 {
  margin-left: 260px;
}
/* line 43, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry p, .store .entry div.price_line {
  *margin-left: 160px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 48, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry p form, .store .entry p div, .store .entry div.price_line form, .store .entry div.price_line div {
  display: inline;
}
/* line 54, /home/lawlz/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry .price {
  color: grey;
  font-weight: bold;
  margin-right: 3em;
}
@font-face {
  font-family: 'bebasregular';
  src: url(/assets/bebasregular.ttf);
}

/* line 7, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#cart {
  position: absolute;
  height: 200px;
  top: 188px;
  right: 230px;
  width: 200px;
  font-size: smaller;
  color: white;
}
/* line 16, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#cart table {
  border-top: 2px dotted red;
  border-bottom: 2px dotted red;
  *margin-bottom: 10px;
}

/* line 23, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#wrapper {
  text-align: left;
  /* reset text alignment */
  width: 960px;
  /* or a percentage, or whatever */
  margin: 0 auto;
  /* for the other browsers */
}

/* line 29, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#footer {
  border-top: 1px solid red;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  line-height: 26px;
  font-size: 1.3em;
}
/* line 37, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#footer p {
  font-family: 'bebasregular';
  *font-family: 'Oswald', sans-serif;
  color: red;
  font-size: 1.75em;
  text-align: center;
}

/* line 46, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#banner {
  background: #000000;
  *padding: 10px;
  *border-bottom: 2px solid;
  *font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
/* line 54, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#banner img {
  float: center;
}

/* line 59, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* line 68, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns {
  background: black;
}
/* line 71, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns #main {
  *margin-left: 17em;
  *padding: 1em;
  background: white;
}
/* line 78, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns #side {
  float: top;
  padding-top: 1px;
  margin-bottom: 20px;
  width: 960px;
  background: black;
  border-bottom: 1px solid red;
}
/* line 88, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns #side #logo img {
  float: left;
}
/* line 93, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns #side form, #columns #side div {
  display: inline;
}
/* line 97, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns #side input {
  font-size: small;
}
/* line 101, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns #side ul {
  list-style-type: none;
  *margin: 0;
  *padding: 0;
  *margin-left: 400;
  overflow: hidden;
  background: black;
  font-family: 'bebasregular';
  *font-family: 'Oswald', sans-serif;
  line-height: 26px;
  width: 600px;
  position: relative;
  right: -47px;
  font-size: 1.3em;
}
/* line 116, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns #side ul li {
  float: right;
}
/* line 120, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
#columns #side ul li a {
  margin: 5px 16px 0 16px;
  display: block;
  width: auto;
  color: red;
  font-size: 1.75em;
  text-decoration: none;
}

/* line 136, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
.depot_form fieldset {
  background: white;
}
/* line 139, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
.depot_form fieldset legend {
  color: black;
  background: white;
  font-family: 'Oswald', sans-serif;
  padding: 0.2em 1em;
}
/* line 148, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
.depot_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}
/* line 157, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
.depot_form form select, .depot_form form textarea, .depot_form form input {
  margin-left: 0.5em;
}
/* line 161, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
.depot_form form .submit {
  margin-left: 4em;
}
/* line 165, /home/lawlz/rails_projects/depot/app/assets/stylesheets/everythingelse.css.scss */
.depot_form form br {
  display: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *











 */
