<p id="notice"><%= notice %></p>

<p>
  <strong>Clothing colors:</strong>
  <%= @clothing_color.shirt_color %>
</p>



<%= link_to 'Edit', edit_clothing_color_path(@clothing_color) %> |
<%= link_to 'Back', clothing_colors_path %>
